# 14.1 Fixed Effects Estimation

In [1]:
import pandas as pd
import numpy as np
import wooldridge as woo
import statsmodels.api as sm
from linearmodels.panel import PooledOLS
from linearmodels.panel import PanelOLS
import linearmodels as plm

In [2]:
wagepan = woo.dataWoo("wagepan")
wagepan = wagepan.set_index(['nr', 'year'], drop = False)
wagepan

               nr  year  agric  black  bus  construc  ent  exper  fin  hisp  \
nr    year
13    1980     13  1980      0      0    1         0    0      1    0     0
      1981     13  1981      0      0    0         0    0      2    0     0
      1982     13  1982      0      0    1         0    0      3    0     0
      1983     13  1983      0      0    1         0    0      4    0     0
      1984     13  1984      0      0    0         0    0      5    0     0
...           ...   ...    ...    ...  ...       ...  ...    ...  ...   ...
12548 1983  12548  1983      0      0    0         1    0      8    0     0
      1984  12548  1984      0      0    0         1    0      9    0     0
      1985  12548  1985      0      0    0         1    0     10    0     0
      1986  12548  1986      0      0    0         0    0     11    0     0
      1987  12548  1987      0      0    0         0    0     12    0     0

            ...  union     lwage  d81  d82  d83  d84  d85  d86  d87  expersq
nr    year  ...
13    1980  ...      0  1.197540    0    0    0    0    0    0    0        1
      1981  ...      1  1.853060    1    0    0    0    0    0    0        4
      1982  ...      0  1.344462    0    1    0    0    0    0    0        9
      1983  ...      0  1.433213    0    0    1    0    0    0    0       16
      1984  ...      0  1.568125    0    0    0    1    0    0    0       25
...         ...    ...       ...  ...  ...  ...  ...  ...  ...  ...      ...
12548 1983  ...      0  1.591879    0    0    1    0    0    0    0       64
      1984  ...      1  1.212543    0    0    0    1    0    0    0       81
      1985  ...      0  1.765962    0    0    0    0    1    0    0      100
      1986  ...      1  1.745894    0    0    0    0    0    1    0      121
      1987  ...      1  1.466543    0    0    0    0    0    0    1      144

[4360 rows x 44 columns]

In [3]:
# FE model estimation

reg = plm.PanelOLS.from_formula(
    formula = 'lwage ~ married + union + C(year) * educ + EntityEffects', data = wagepan, drop_absorbed=True)

results = reg.fit()

/tmp/ipykernel_18922/496486462.py:6: AbsorbingEffectWarning:
Variables have been fully absorbed and have removed from the regression:

educ

  results = reg.fit()

In [4]:
# print regression table:
table = pd.DataFrame({"b" : round(results.params, 4),
                      "se" : round(results.std_errors, 4),
                      "t" : round(results.tstats, 4),
                      "pval": round(results.pvalues, 4)
                      })

print(f'table: \n{table}\n')

table:
                           b      se        t    pval
married               0.0548  0.0184   2.9773  0.0029
union                 0.0830  0.0194   4.2671  0.0000
C(year)[1980]         1.3625  0.0162  83.9031  0.0000
C(year)[1981]         1.3400  0.1452   9.2307  0.0000
C(year)[1982]         1.3567  0.1451   9.3481  0.0000
C(year)[1983]         1.3729  0.1452   9.4561  0.0000
C(year)[1984]         1.4468  0.1452   9.9617  0.0000
C(year)[1985]         1.4122  0.1451   9.7315  0.0000
C(year)[1986]         1.4281  0.1451   9.8404  0.0000
C(year)[1987]         1.4529  0.1452  10.0061  0.0000
C(year)[T.1981]:educ  0.0116  0.0123   0.9448  0.3448
C(year)[T.1982]:educ  0.0148  0.0123   1.2061  0.2279
C(year)[T.1983]:educ  0.0171  0.0123   1.3959  0.1628
C(year)[T.1984]:educ  0.0166  0.0123   1.3521  0.1764
C(year)[T.1985]:educ  0.0237  0.0123   1.9316  0.0535
C(year)[T.1986]:educ  0.0274  0.0123   2.2334  0.0256
C(year)[T.1987]:educ  0.0304  0.0123   2.4798  0.0132

In [13]:
# Print relevant dimensions for panel:
N = wagepan.shape[0]
T = wagepan["year"].drop_duplicates().shape[0]
n = wagepan["nr"].drop_duplicates().shape[0]
print(f'N: {N}\n')
print(f'T: {T}\n')
print(f'n: {n}\n')

N: 4360

T: 8

n: 545